@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "header";
@import "menu";
@import "swiper";
@import "footer";
@import "modal";



html {
  box-sizing: border-box;
  margin: 0 auto;
}

*, :before, :after {
  box-sizing: inherit;
}

body {
  padding:0;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

.page {

  background-color: $bgHeaderColor;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: 768px) {
    position: relative;
    z-index: 1;
    width:auto;
  }

  @media (min-width:1440px) {
    max-width:1120px;
    position: static;
    z-index: 1;
    order: 3;
    margin-left: 320px;
  }

}

.site-container{
  @media (min-width: 768px) {
    width:100%;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
  }
}

.display-none {
  display: none;
}

.burger-none {
  display: none;

  @media (min-width: 1440px) {
    display: flex;
  }
}

.overflow-hidden {
  max-height:100vh;
  overflow: hidden;
}


.burger-in-place {
  transform: translateX(0);
  transition-duration: 0.5s;
}

.burger-hide {
  transform: translateX(-1000px);
  transition-duration: 0.9s;

  @media (min-width: 1440px) {
    transform: translateX(0);
    transition-duration: 0s;
  }
}

h1 {
  position: relative;
  margin:0;
  height:70px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-family: "TT Lakes", sans-serif;
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  background-color: $mainBackground;
}

h1::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 40px;
  background-color: $h1Divider;
  left:0;
  border-radius: 0 5px 5px 0;
  vertical-align: center;
}

.h2 {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 56px;
  background: linear-gradient( 270deg, #FFFFFF 0%, #F8F8F8 98.61%);
  display: flex;
  align-items: center;

  h2 {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    padding-left: 16px;
    color: #7E7E82;
    font-weight: 200;
    font-style: normal;
  }
}


.main-info {
  background-color: $mainBackground;
  margin:0;
  padding-bottom: 30px;
  border-bottom: 1px solid $borderBottom;
  padding-top: 20px;

  p {
    // margin-left: 16px;
    // margin-right: 20px;
    // margin-top: 0;
    margin: 16px 20px;
    font-family: "TT Lakes", sans-serif;
    font-size: 14px;
    font-weight: normal;
  }

  .hide-p {
    display: none;
  }

  .hide-remove {
    display: none;
  }

  .read-more {
    position: relative;
    background: none;
    border: none;
    font-family: TT Lakes, serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 40px;
    margin-bottom: 16px;
    cursor: pointer;

    &:hover {
      transform: scale(105%);
      transition-duration: 0.1s;
    }
  }

  .hide {
    position: relative;
    background: none;
    border: none;
    font-family: TT Lakes, serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 40px;
    margin-bottom: 16px;
    &:hover {
      transform: scale(105%);
      transition-duration: 0.1s;
    }
  }

  .read-more::before {
    content:"";
    position: absolute;
    height:30px;
    width:30px;
    background-image: url("../img/expand.svg");
    left:-20px;
  }

  .hide::before {
    content:"";
    position: absolute;
    height:30px;
    width:30px;
    background-image: url("../img/expand.svg");
    left:-25px;
    top:-6px;
    transform: rotate(180deg);
  }

  .hide-button {
    display: none;
  }


  .bg {
    width: 100%;
  }

  @media (min-width: 768px) {

    display:flex;
    justify-content: space-evenly;

    .main-info__article {
      display: block;
      min-width:340px;
    }

    .bg {
      min-width: 360px;
      border-radius: 10px;
    }
  }

  @media (min-width: 1440px) {
    .bg {
      min-width: 530px;
    }
  }
}


.price-info {
  background-color: $mainBackground;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid $borderBottom;

  p {
    margin: 0;
    font-family: "TT Lakes",sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    max-width: 420px;
  }

  .commercial-offer {
    display: flex;
    flex-wrap: wrap;
    margin-top:20px;
    @media (min-width:320px) {
      width:200px;
    }

    @media (min-width: 340px) {
      width:300px;
    }

    &:hover {
      .a1,.a2 {
        color:$crimson;
        transition-duration: 0.1s;
      }
    }
  }

  .a1 {
    white-space: pre;
  }

  .a1, .a2 {
    display: block;
    position: relative;
    font-family: TT Lakes, serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    cursor:pointer;
  }


  .a2::after {
    position: absolute;
    content:'';
    background: url("../img/line.svg") no-repeat;
    width: 8px;
    height:12px;
    left:110px;
    top:5px;
  }

}

.button-read-hide {
  margin-top: 0;
  background-color: $swiper;
  padding-bottom: 20px;

  .read-more-slider {
    display: none;

    @media(min-width: 768px) {
      display: block;
      position: relative;
      margin: 0 0 0 57px;
      font-family: "TT Lakes", sans-serif;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      border: none;
      cursor: pointer;
      background: none;
      &:hover {
        transform: scale(105%);
        transition-duration: 0.1s;
      }
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/expand.svg");
      width: 24px;
      height: 20px;
      background-repeat: no-repeat;
      right: 110px;
      top: 0;
    }
  }


  .hide-slider {
    display: none;
    vertical-align: center;
    background-color: $swiper;

    @media(min-width: 768px) {
      display: initial;
      position: relative;
      margin: 10px 0 0 57px;
      font-family: "TT Lakes", sans-serif;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      border: none;
      cursor: pointer;
      background: none;
      &:hover {
        transform: scale(105%);
        transition-duration: 0.1s;
      }
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/expand.svg");
      width: 24px;
      height: 20px;
      background-repeat: no-repeat;
      right: 64px;
      transform: rotate(180deg);
      top: 4px;
    }
  }

  .hide-button {
    display: none;
  }
}

.blur {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100;
  height:100vh;
  opacity: 0.7;
  @media (min-width: 1440px) {
    z-index: 2000;
  }
}

.blur-none {
  display: none;
}
