.swiper {
    box-sizing: border-box;
    height: 130px;
    background-color: $swiper ;
  
    &-slide {
        box-sizing: border-box;
        max-width: 224px;
        height: 72px;
        border: 1px solid #EAEAEA;
        border-radius: 5px;
        margin: 16px 0 16px 16px;
        background-color: white;
        z-index: 1;
    }
  
    &-pagination {
        transform: scale(1.5);
    }
  
    &-slide {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .btn-forward {
        background-image: url("../img/go.svg");
        background-color:white;
        background-repeat: no-repeat;
        border:none;
        width:40px;
        height:40px;
        cursor: pointer;
        margin-right: 16px;
        border-radius: 50%;
    }
       
    .btn-lenovo::after {
        position: absolute;
        content: '';
        background-image: url("../img/lenovo.png");
        width:108px;
        height:32px;
        left:16px;
        bottom:16px;
    }
      
    .btn-sumsung::after {
        position: absolute;
        content: '';
        background-image: url("../img/samsung.png");
        width:116px;
        height:39px;
        left:16px;
        bottom:16px;
    }
      
    .btn-apple::after {
        position: absolute;
        content: '';
        background-image: url("../img/apple.png");
        background-repeat: no-repeat;
        width:44px;
        height:44px;
        left:16px;
        bottom:16px;
    }
      
    .btn-view-sonic::after {
        position: absolute;
        content: '';
        background-image: url("../img/view_sonic.png");
        background-repeat: no-repeat;
        width:128px;
        height:21px;
        left:16px;
        bottom:25px;
    }

    .btn-bosch::after {
        position: absolute;
        content: '';
        background-image: url("../img/bosch.png");
        background-repeat: no-repeat;
        width:128px;
        height:29px;
        left:16px;
        bottom:20px;
    }
      
    .btn-hp::after {
        position: absolute;
        content: '';
        background-image: url("../img/hp.png");
        background-repeat: no-repeat;
        width:52px;
        height:52px;
        left:16px;
        bottom:10px;
    }
      
    .btn-acer::after {
        position: absolute;
        content: '';
        background-image: url("../img/acer.png");
        background-repeat: no-repeat;
        width:94px;
        height:24px;
        left:16px;
        bottom:24px;
    }
      
    .btn-sony::after {
        position: absolute;
        content: '';
        background-image: url("../img/sony.png");
        background-repeat: no-repeat;
        width:128px;
        height:26px;
        left:16px;
        bottom:20px;
    }
    
    &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 72px;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        top: 16px;
        right: 0;
        z-index: 2;
    }
  
    @media (min-width: 768px) {
        min-width: 768px;
        box-sizing: border-box;
        height:195px;
        margin: 0;
        padding: 0;
    
        &-pagination {
            display: none;
        }
    
        &::before {
            display:none;
        }
        &-slide {
            margin: 0;
        }
    
        .swiper-wrapper {
            margin: 0;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(auto-fill, 240px);
            justify-content: space-evenly;
            padding-left: 16px ;
            padding-top: 16px;
            row-gap: 20px;
    
        }
    }
}
  
.swiper-more {
    height:auto;
}
  
  
.swiper-2 {
    box-sizing: border-box;
    min-width: 320px;
    height: 240px;
    overflow: hidden;
    background-color: $swiper;
    position: relative;

    .swiper-slide {
        box-sizing: border-box;
        max-width: 224px;
        height: 160px;
        border: 1px solid #EAEAEA;
        border-radius: 5px;
        margin: 16px 0 16px 16px;
        background-color: white;
        z-index: 1;
    }

    .swiper-pagination {
        transform:translateY(-15px) scale(1.5);
    }

    .btn-go {
        display: block;
        background-image: url("../img/go.svg");
        background-color: white;
        border: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transform: translateY(45px) translateX(-15px);
        border-radius: 50%;
    }
    
    .btn-go::after {
        position: absolute;
        white-space: nowrap;
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        top:-90px;
        left:-150px;
    }
    
    .swiper-slide:nth-child(1) > .btn-go::after {
        content: 'Ремонт ноутбуков';
    }
    .swiper-slide:nth-child(2) > .btn-go::after {
        content: 'Ремонт телефонов';
    }
    .swiper-slide:nth-child(3) > .btn-go::after {
        content: 'Ремонт планшетов';
    }
    .swiper-slide:nth-child(4) > .btn-go::after {
        content: 'Ремонт колонок';
    }
    .swiper-slide:nth-child(5) > .btn-go::after {
        content: 'Ремонт ноутбуков';
    }
    .swiper-slide:nth-child(6) > .btn-go::after {
        content: 'Ремонт телефонов';
    }
    .swiper-slide:nth-child(7) > .btn-go::after {
        content: 'Ремонт планшетов';
    }
    .swiper-slide:nth-child(8) > .btn-go::after {
        content: 'Ремонт колонок';
    }
    
    @media (min-width: 768px) {
        .swiper-pagination {
            display: none;
        }
    
        min-width: 768px;
        box-sizing: border-box;
        height:190px;
        margin: 0;
        padding: 0 0 16px 0;
        display: grid;
        align-items: center;
    
        .swiper-slide {
            margin: 0;
        }
    
        .swiper-wrapper {
            margin: 0;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(auto-fill, 240px);
            justify-content: space-evenly;
            padding-left: 16px ;
            padding-top: 16px;
            row-gap: 20px;
        }
    }
}
  
.swiper-2::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 160px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    right: 0;
    top:16px;
    z-index: 2;
  
    @media (min-width:768px) {
        display:none;
    }
}
  
.swiper-more {
    height:auto;
}
  
.swiper-3 {
    box-sizing: border-box;
    min-width: 320px;
    height: 260px;
    overflow: hidden;
    background-color: $swiper;
    position: relative;
  
    .swiper-slide {
        box-sizing: border-box;
        max-width: 260px;
        height: 200px;
        border: 1px solid #EAEAEA;
        border-radius: 5px;
        margin: 16px 0 16px 16px;
        background-color: white;
        z-index: 1;
        padding: 16px;
    }
  
    .btn-order {
        display: block;
        position: absolute;
        background: url("../img/order.svg") no-repeat white;
        width: 119px;
        height: 32px;
        cursor: pointer;
        transform: translateY(66px);
        border:none;
        border-radius: 30px;
    }

    .swiper-pagination {
        transform:translateY(5px) scale(1.5);
    }
  
    .info-button {
        width: 226px;
        height: 160px;
    }
  
    .info-button p {
        margin:0;
        font-family: TT Lakes, serif;
        font-size: 14px;
        font-weight: 300;
    }
  
    .info-button p:nth-child(1), p:nth-child(3), p:nth-child(5) {
        color: $greyText;
    }
  
    .info-button p:nth-child(1) {
        margin-top: -10px;
    }
  
    .info-button p:nth-child(2), p:nth-child(4), p:nth-child(6)  {
        margin-top: 5px;
    }
  
    .info-button p:nth-child(3), p:nth-child(5) {
        margin-top: 10px;
    }
  
  
    @media (min-width: 768px) {
        display: none;
    }
  
  }
  
  .swiper-3::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 200px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    right: 0;
    top:16px;
    z-index: 2;
  
    @media (min-width: 768px) {
      display: none;
    }
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

.swiper-pagination-bullet {
    background-color: #bbbbbb;
}

.pricelist {
    position: relative;
    @media (min-width: 320px) {
        display: none;
    }
    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        min-width: 740px;
        background-color: $mainBackground;
        justify-content: center;

        .table {
            padding: 0 16px 0 16px;
            margin: 0 16px 0 16px;
            border-radius: 5px;
            background-color: white;
        }

        &__titles {
            min-width: 688px;
            height: 65px;

            display: grid;
            grid-template-columns: 53% 13% 15%;
            background-color: $mainBackground;
            align-items: center;
        }

        &__titles:nth-child(1) {
            margin-left: 32px;
        }

        &__titles p:nth-child(2) {
            margin:0 0 0 3px;
        }

        p {
            display: block;
            width: 100%;
            font-family: "TT Lakes", sans-serif;
            font-size: 14px;
            color: $aColor;
        }

        &__titles p:nth-child(1) {
            margin-left: 16px;
        }

        &__element {
            border-bottom: 1px solid $divider;
            min-width: 688px;
            height: 65px;
            display: grid;
            justify-content: initial;
            grid-template-columns: 55% 13% 15%;
            background-color: white;
            align-items: center;
        }

        &__element p:nth-child(1) {
            margin-left: 16px;
        }

        .btn-order {
            display: block;
            position: absolute;
            background: url("../img/order.svg") no-repeat white;
            width: 119px;
            height: 32px;
            right: 40px;
            cursor: pointer;
            border:none;
            border-radius: 30px;
        }
        & .second-line:last-child {
            border-bottom: none;
        }
    }
}

